* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: red;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 190px;
  gap: 55px;
  color: #050574;
}
